<% include ./partials/header %>

<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Welcome to Movier</h1>
          <p class="lead">Start adding the movies you've seen!</p>
          <a class="btn btn-lg btn-primary" href="/movies/search">Add movie</a>
        </div>
</div>

<% include ./partials/footer %>