<% include ./partials/header %>

<h1>Search Movie on TMDB</h1>
<form action="/movies/results/1">
    <div class="form-group">
        <label for="searchField">Search</label>
        <input type="text" class="form-control" id="searchField" name="q" placeholder="Movie title">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>


<% include ./partials/footer %>