* {
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

html {
    height: 100%;
}

/* GENERAL STYLES */
.container-fluid {
    padding-top: 70px;
    text-align: center;
    
}

.container {
    padding-top: 70px;
}

.general-font {
    font-family: 'Roboto', sans-serif;
}

.bg {    
    background: #F7F8F8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACBB78, #F7F8F8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACBB78, #F7F8F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.img-search {
    background-image: url("../images/search-min.jpg");
}

.btn-brown {
    background-color: #a3731a;
    border: none;
    text-transform: capitalize;
    box-shadow: 2px 2px 8px #291c05;
    color: white;
}

.btn-brown:hover {
    color: white;
    transform-origin: top;
    transform: scale(1.05)
}

/* SEARCH PAGE STYLES */
#searchField {
    display: block;
    box-shadow: 2px 2px 4px 4px rgb(139, 135, 135);    
}

/* BOTTOM BAR STYLE */
.bottom-bar {
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 100%;
    height: 50px;
    background-color: black;
}

/* CARDS STYLES */
.card-img-top {
    width: 100%;
    height: 400px;
}

.card-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-text {
    height: 150px;
}

/* LANDING PAGE STYLES */

.img-fullscrean {
    position: static;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.img-landing {
    background: gray;
    background-image: url("../images/welcome-min.jpg");
}

#landing .jumbotron {
    text-align: center;
    background-color: transparent;
    padding-top: 10vh;
    margin: 0;
    color: white;
}

#landing .jumbotron h1 {
    font-weight: 600;
    text-shadow: 2px 2px 2px rgb(98, 99, 100);
}

#landing .jumbotron p {
    font-size: 25px;
    text-shadow: 2px 2px 2px rgb(98, 99, 100);
}
